$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

$base-color: #ff8250;

@font-face {
  font-family: yofont;
  src: url("/wobanglis/images/icon/iconfont.woff") format("woff"), url("/wobanglis/images/icon/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/wobanglis/images/icon/iconfonts.woff") format("woff"), url("/wobanglis/images/icon/iconfonts.ttf") format("truetype");
}
